hr {
    opacity: 0.3;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.showcase {
    padding: 0 30px 0 30px;
    margin-bottom: 20px;
    background-color: var(--showcase-item-bg-color);
    color: var(--showcase-item-text-color);
    border: var(--showcase-item-border-color) solid 1px;
    width: 80%;
    cursor: pointer;
}

.showcase a {
    text-decoration: none;
}

.showcase h3 {
    color: var(--showcase-item-text-color);
    text-decoration: underline;
}

.showcase:hover {
    background-color: var(--showcase-item-bg-color-hover);
    color: var(--showcase-item-text-color-hover);
    border: var(--showcase-item-border-color-hover) solid 1px;
}

.showcase:hover h3 {
    color: var(--showcase-item-text-color-hover);
}

blockquote {
    opacity: 1;
}

body header section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

body header section div {
    margin-bottom: 20px;
}

body > section {
    margin-top: 5px;
}

@media (min-width: 1200px) { 
    blockquote {
        border-left: var(--text-color) 3px solid;
        width: 55%;
        margin-bottom: 0;
    }
    .showcase {
        width: 40%;
        margin-left: 20px;
    }
}